*{
    margin: 0;    
    font-family: Arial;
    padding-inline-start: 0;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.pullDown{
    animation-name: pullDown;
    -webkit-animation-name: pullDown;    
 
    animation-duration: 0.3s;   
    -webkit-animation-duration: 0.3s;
 
    animation-timing-function: ease-out;    
    -webkit-animation-timing-function: ease-out; 
 
    transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%; 
    -webkit-transform-origin: 50% 0%;         
}
 
@keyframes pullDown {
    0% {
        transform: scaleY(0.0);
    }
    10% {
        transform: scaleY(0.1);
    }
    20% {
        transform: scaleY(0.2);
    }
    30% {
        transform: scaleY(0.3);
    }
    40% {
        transform: scaleY(0.4);
    }
    50% {
        transform: scaleY(0.5);
    }
    60% {
        transform: scaleY(0.6);
    }
    70% {
        transform: scaleY(0.7);
    }
    80% {
        transform: scaleY(0.8);
    }
    90% {
        transform: scaleY(0.9);
    }   
    100% {
        transform: scaleY(1);
    }                   
                            
}
 
@-webkit-keyframes pullDown {
    0% {
        -webkit-transform: scaleY(0.0);
    }
    10% {
        -webkit-transform: scaleY(0.1);
    }
    20% {
        -webkit-transform: scaleY(0.2);
    }
    30% {
        -webkit-transform: scaleY(0.3);
    }
    40% {
        -webkit-transform: scaleY(0.4);
    }  
    50% {
        -webkit-transform: scaleY(0.5);
    }
    60% {
        -webkit-transform: scaleY(0.6);
    }
    70% {
        -webkit-transform: scaleY(0.7);
    }
    80% {
        -webkit-transform: scaleY(0.8);
    }
    90% {
        -webkit-transform: scaleY(0.9);
    } 
    100% {
        -webkit-transform: scaleY(1);
    }             
            
}


.logo{
    width: 150px;
    height: auto;
}
.header-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(246, 247, 252);
    padding: 12px 40px;
}
.header-menu{
    min-width: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.notification-logo{
    cursor: pointer;
}
.notification-logo:hover{
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
}
.open-menu{
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;   
    cursor: pointer;  
    opacity: 0;
}
.user-name{       
    border-radius: 50%;
    background-color: coral;
    min-width: 40px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1.4rem;
    color: #fff;
}
.drop-down-menu{
    display: none;
    list-style-type: none;
    flex-direction: column;
    min-width: 150px;
    min-height: 100px;
    background-color: #fff;
    padding: 15px;
    justify-content: space-around;
    position: absolute;
    top: 44px;
    right: 0px;
    color: black;
    font-size: 1rem;
    box-shadow: 3px 2px 8px -1px rgba(150,145,150,1);
}
.open-menu:checked ~ .drop-down-menu{
   display: flex;
}
.user-name:hover{
    background-color: rgb(235, 123, 82);    
 }
 .drop-down-menu-list{
     padding: 5px 0 5px 5px;
 }
 .drop-down-menu-list-link{
     text-decoration: none;
     color: #000000;
 }
 .drop-down-menu-list:hover{
    background-color: rgb(246, 247, 252);
    cursor: pointer;   
 } 
.user-full-name{
    color: grey;
    border-bottom: 2px solid grey;
    padding-bottom: 5px;
}
.main-wrap{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
}
.main-img{
    width: auto;
    height: 200px;
}
.error-message-conteiner{
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: left;
}
.error-message-wrap{
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    opacity: 0.85;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 220px;
   
}
.message-wrap{
    margin-left: 10px;
}
.error-message{
    background-color: rgb(175, 53, 53);
}
.success-message{
    background-color: rgb(56, 224, 98);
}
.warning-message{
    display: none;
    background-color: rgb(255, 205, 66);
}
